/* VARIABLES
========================*/
/* MIXINS 
========================*/
/* FUNCTIONS
========================*/
/* BASE 
========================*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777777;
  line-height: 1.6;
  background-color: #e9ebee; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

input,
img {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

/* TYPOGRAPHY
========================*/
/* UTILITIES
========================*/
.hr {
  border-bottom: 2px solid rgba(192, 192, 192, 0.25); }

/* LOGO 
========================*/
.logo {
  padding-top: 6px;
  margin-right: .5rem; }
  @media only screen and (max-width: 56.25em) {
    .logo {
      margin-right: 0; } }
  .logo__icon {
    height: 2.75rem;
    width: 2.75rem;
    fill: white; }

/* SEARCH
========================*/
.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto; }
  @media only screen and (max-width: 56.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      justify-content: stretch; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    height: 2.25rem;
    border: none;
    width: 100%;
    text-indent: 1.5rem;
    margin-right: -2.5rem; }
    @media only screen and (max-width: 56.25em) {
      .search__input {
        margin-right: -3rem; } }
    .search__input:focus {
      outline: none;
      background-color: white; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #999999; }
  .search__input:focus + .search__button {
    background-color: white; }
  .search__button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #999999;
    border: none;
    outline: none; }

/* USER NAV
========================*/
.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav__list {
    display: flex;
    height: 100%; }
    .user-nav__list > * {
      padding: 0 1rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center; }
  .user-nav__item {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500; }
    .user-nav__item:hover {
      background-color: #6981ba; }
    .user-nav__item:hover > .user-nav__item__icon {
      fill: white; }
  .user-nav__item:not(:first-of-type) {
    padding-top: .30rem; }
  .user-nav__user {
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__avatar {
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50px;
    margin-right: 1rem; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #344570; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__dropdown {
    position: relative;
    color: #777777; }
    .user-nav__dropdown:hover > * {
      opacity: 1;
      display: block;
      visibility: visible; }
  .user-nav__dropdown-list {
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    transition: all 0.5s ease;
    background-color: #e9ebee;
    width: 275px;
    border-radius: 5px;
    visibility: hidden;
    -webkit-box-shadow: 0px 0px 12px -6px #000000;
    box-shadow: 0px 0px 12px -6px #000000; }
    .user-nav__dropdown-list > * {
      display: flex;
      align-items: center; }
  .user-nav__dropdown-item {
    padding: 1rem 1.5rem; }
    .user-nav__dropdown-item:hover {
      background-color: #c5cad2; }
  .user-nav__dropdown-avatar {
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50px;
    margin-right: 1.5rem; }
    .user-nav__dropdown-avatar + p {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1; }
    .user-nav__dropdown-avatar + p > * {
      font-size: 1.25rem;
      font-weight: 300; }
  .user-nav__dropdown-icon {
    height: 2.75rem;
    width: 2.75rem;
    margin-right: 1.5rem;
    fill: #4c66a4; }
    .user-nav__dropdown-icon + p {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1; }
    .user-nav__dropdown-icon + p > * {
      font-size: 1.25rem;
      font-weight: 300; }
  .user-nav__dropdown-terms {
    padding: 2rem 2rem;
    background-color: #e0e3e7; }
    .user-nav__dropdown-terms p {
      font-size: 1.25rem; }

/* CONTAINER
========================*/
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #e9ebee;
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

/* HEADER
========================*/
.header {
  background-color: #4c66a4;
  height: auto;
  width: 100%;
  color: white; }
  .header__container {
    font-size: 1.4rem;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .header__container {
        flex-wrap: wrap;
        padding: 0; } }

/* CONTENT
========================*/
.content {
  max-width: 130rem; }
