/* COL RIGHT
========================*/

.col-right {
  flex: 1;

  @media only screen and (max-width: $bp-medium) {
    visibility: hidden;
    display: none;
  }
}

.right {
  &__container {
    margin-top: 2rem;
    margin-left: 1.5rem;

    & > * {
      margin-bottom: 1.5rem;
    }
  }
}