/* HEADER
========================*/
.header {
  background-color: $color-primary-blue;
  // height:5rem;
  color: white;

  &__container {
    font-size: 1.4rem;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    // height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      margin: 0;
      width: 100%;
      flex-wrap: wrap;
      padding: 0;
    }

  }
  
}