/* HEADER
========================*/
.header {
  background-color: $color-primary-blue;
  height:auto;
  width: 100%;
  color: white;

  &__container {
    font-size: 1.4rem;
    max-width: 130rem;
    margin: 0 auto;
    // height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      flex-wrap: wrap;
      padding: 0;
    }
  }
  
}