/* BIRTHDAYS
========================*/

.birthdays {
  height: 4.5rem;
  background-color: white;
  box-shadow: $shadow;
  border-radius: 5px;

  &__container {
    display: flex;
    padding: 1rem 1.5rem
    
  }

  &__icon {
    height: 2.75rem;
    width: 2.75rem;
    margin-right: 1rem;
  }

  &__friends {
    & > *:nth-child(1) {
      font-size: 1.45rem;
      color: $color-primary-blue;
      font-weight: 600;
    }
    & > *:nth-child(2) {
      font-size: 1.45rem;
    }
  }
  
}

.pages {
  padding: 1rem 1.5rem;
  background-color: white;
  box-shadow: $shadow;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > *:nth-child(1) {
    color: $color-grey-dark-2;
    font-weight: 600;
    font-size: 1.45rem;
  }

  & > *:nth-child(2) {
    margin-right: auto;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    margin-right: .5rem;
    cursor: pointer;
  }
}

.language {
  background-color: white;
  box-shadow: $shadow;
  border-radius: 5px;
  padding: 1rem 1.75rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__languages {
    line-height: 1.30;

    & > *:nth-child(1){
      color: $color-grey-light-2;
      font-weight: 600;
      font-size: 1.35rem;
    }

    & > *:not(:first-child) {
      color: $color-primary-blue;
      font-size: 1.35rem;
    }
  }

  &__button {
    padding:  0.5rem 1rem;
    align-self: flex-start;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

.terms {
  font-size: 1.25rem;
  padding: 0 1.75rem;
  line-height: 1.35;

  & > *:not(:last-child) {
    color: $color-grey-dark-1;
  }

  & > * {
    cursor: pointer;
    
  }
  & span {
    color: $color-grey-dark-2;
  }
}