/* POST
========================*/

.post {
  &__create {
    margin-top: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: $shadow;

  }
  &__create-header p {
    font-size: 1.5rem;
    color: $color-grey-dark-2;
    padding: 1rem 1.5rem;
    background-color: lighten($color-primary-white, 3%);
    font-weight: 700;
    border-bottom: $line2;
    border-radius: 5px;
  }
  &__create-user {
    padding: 1.5rem;
    background-color: white;
    display: flex;
    border-radius: 5px;

    & input {
      border: none;
      width: 100%;
      outline: none;
    }
  }
  &__avatar {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50px;
    margin-right: 2rem;
  }

  &__react-list {
    background-color: white;
    padding: 1.5rem;
    display: flex;
    border-radius: 5px;
  }

  &__react-item {
    box-sizing: content-box;
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    border: none;
    font-size: 1.35rem;
    color: $color-grey-dark-2;;
    border-radius: 5rem;
    cursor: pointer;
  }
  &__icon {
    height: 2.65rem;
    width: 2.65rem;
    margin-right: .5rem;
    fill: $color-grey-dark-2;
  }
}