/* READER
========================*/

.reader {

  &__action-container {
    padding: 1.5rem;
  }

  &__action-list {
    display: flex;
    justify-content: space-around;
  }

  &__action-item {

  }

  &__action-btn{
    padding: .5rem 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__comment {
    padding: 0 0 2rem 0;
  }

  &__comment-list {
    
  }

  &__comment-item {
    display: flex;
    padding: 1.5rem 1.5rem 0 1.5rem;
    align-items: end;
  }

  &__comment-avatar {
    height: 4rem;
    width: 4rem;
    margin-right: .5rem;
    border-radius: 50px;
  }

  &__comment-message {
    font-size: 1.5rem;
    line-height: 1.25;
    padding: .5rem 1.5rem;
    background-color: lighten($color-primary-white, 3%);
    border-radius: 50px;

    & a {
      color: $color-primary-blue;
      font-weight: bold;
    }
  }
}