/* STORIES
========================*/

.stories {
  color: $color-grey-dark-2;
  background-color: white;
  box-shadow: $shadow;
  border-radius: 5px;
  margin-top: 2rem;
  position: relative;
  z-index: 5;

  @media only screen and (max-width: $bp-small) {
    visibility: hidden;
    display: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  &__heading {
    color: inherit;
    font-size: 1.55rem;
    font-weight: 700;
  }

  &__link {

    font-size: 1.5rem;
  }

  

  &__list {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem !important;
    padding-bottom: 2rem !important;

    & > * {
      cursor: pointer;
    }
  }

  &__item-container {
    position: relative;
    z-index: -1;
  }

  &__photo-1 {
    border-radius: 10px;
  }

  &__photo-2 {
    box-sizing: content-box;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50px;
    border: .45rem solid $color-primary-blue;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  &__button {
    @include drop-shadow;
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    top: 5%;
    left: 5%;
    border: none;
    outline: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__icon {
    height: 3.25rem;
    width: 3.25rem;
    fill: $color-primary-blue;
  }

  &__caption {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 3%;
    left: 6%;
    line-height: 1.25;
  }
}