/* UTILITIES
========================*/

.hr {
  border-bottom: 2px solid rgba($color-grey-light-1, .25);
}

.hr2{
  width: 95%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color:lighten($color-primary-white, 3%);
  border: 0 none;
}